body{
    background: #f8f9e8;
}
.navbar{
    border-radius: 0;
}
.lead{
    margin-left: 15px;
    }
.right-border {
  border-right: 1px solid #ccc;
}
.left-border {
  border-left: 1px solid #ccc;
}

.bottom-border {
  border-bottom: 1px solid #ccc;
}

.skraceni_tekst {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 55ch;
}
