{% extends 'projects/base.html' %}
{% block title %} - Update{% endblock %}
{% block projects_active %}active{% endblock %}

{% block content %}
<div class="container">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Izmeni detalje za dan  {{ instance.datum }}</h2>
                    <h3>radnik:  {{ instance.radnik.ime }}</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    {% if instance.radnik.posao == None %}
                        <p><font color="red"><strong> Ovaj radnik nije ni na jednom poslu!Ako želite da se automatski obračuna prihod i rashod za satnicu radnik mora biti dodat na posao!</strong></font></p>
                    {% else %}
                    <p>Radnik je na poslu {{ instance.radnik.posao }}</p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'projects/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Potvrdi</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>



    </div>

</div>
{% endblock %}