{% extends 'projects/base.html' %}
{% block title %} - Poslovi {% endblock %}
{% block content %}
{% load staticfiles %}

<div class="container">
    <h3>Poslovi</h3>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li style="color:red;" {% if message.tags == "success" %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% if poslovi_zavrseni_pre_vise_od_dve_godine %}
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 15px;">
            <ul class="list-group">
            {% for posao in poslovi_zavrseni_pre_vise_od_dve_godine %}
            <li class="list-group-item">{{ posao.ime }} - {{ posao.kraj_radova }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% if poslovi %}
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 15px;">
            <br>
            <a href="{% url 'projects:project-add' %}">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp; Dodaj posao
                </button>
            </a>
        </div>
    </div>

    <div class="col-sm-12">
        <div class='container' id="table">
            <div class="table-div">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Ime</th>
                        <th>Opis</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for posao in poslovi %}
                    <tr>
                        <td><a href="{% url 'projects:posao' posao.id %}"><button type="button" class="btn btn-link">
                                    <span class="glyphicon glyphicon-wrench"></span>&nbsp; {{ posao.ime }}
                                </button></a></td>
                        <td>{{ posao.opis }}</td>
                        <td>
                            <a href="{% url 'projects:pdf_posao' posao.id %}">
                                <button type="button" class="btn btn-info">
                                    <span class="glyphicon glyphicon-pencil"></span>&nbsp; Napravi pdf izveštaj
                                </button>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'projects:posao-delete' posao.id %}">
                                <button type="button" class="btn btn-danger" onclick="clicked(event)">
                                    <span class="glyphicon glyphicon-remove"></span>&nbsp; Obriši posao
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% else %}
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 15px;">
            <br>
            <a href="{% url 'projects:project-add' %}">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp; Dodaj posao
                </button>
            </a>
        </div>
    </div>
    {% endif %}
</div>
<script>
function clicked(e)
{
    if(!confirm('Ako obrišete posao, obrisaće se svi prihodi i rashodi koji su vezani za ovaj posao! Obrisati?'))e.preventDefault();
}
</script>
{% endblock %}




