{% extends 'projects/base.html' %}
{% block title %} - Finansije {% endblock %}
{% block content %}
{% load staticfiles %}

<div class="container">
    {% if od_meseca == '0' %}
    <h3>Finansije za {{ godina }} godinu</h3>
    {% elif od_meseca == do_meseca %}
    <h3>Finansije za {{ od_meseca }}.{{ godina }}</h3>
    {% else %}
    <h3>Finansije od {{ od_meseca }} do {{ do_meseca }} {{ godina }}</h3>
    {% endif %}
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li style="color:red;" {% if message.tags == "success" %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <div class='container'>
        <div class="col-sm-6">
            <a href="{% url 'projects:biranje_meseca_finansije' %}" style="float: right">
                <button type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-calendar"></span>&nbsp; Izaberi drugi mesec
                </button>
            </a>
        </div>
        <div class="table-div">
            <table class="table">
                <thead>
                <tr>
                    <th>Posao</th>
                    <th>Radnih sati ukupno</th>
                    <th>Dana smeštaja</th>
                    <th>Smeštaj finansijski</th>
                    <th>Prihodi</th>
                    <th>Rashodi</th>
                    <th>Dobit</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for posao in poslovi %}
                <tr>
                    <td><a href="{% url 'projects:posao' posao.id %}">
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp; {{ posao.ime }}
                            </button>
                        </a>
                    </td>
                    {% for k, v in radnih_sati.items %}
                    {% if k == posao.id %}
                    <td>{{ v }}</td>
                    {% endif %}
                    {% endfor %}
                    {% for k, v in dana_smestaja.items %}
                    {% if k == posao.id %}
                    <td>{{ v }}</td>
                    {% endif %}
                    {% endfor %}
                    {% for k, v in smestaj_finansijski.items %}
                    {% if k == posao.id %}
                    <td>{{ v }}</td>
                    {% endif %}
                    {% endfor %}
                    {% for k, v in mesecni_prihodi.items %}
                    {% if k == posao.id %}
                    <td>{{ v }}</td>
                    {% endif %}
                    {% endfor %}
                    {% for k, v in mesecni_rashodi.items %}
                    {% if k == posao.id %}
                    <td>{{ v }}</td>
                    {% endif %}
                    {% endfor %}
                    {% for k, v in mesecno_dobit.items %}
                    {% if k == posao.id %}
                    <td>{{ v }}</td>
                    {% endif %}
                    {% endfor %}
                    {% if od_meseca == do_meseca and od_meseca != '0' %}
                    <td>
                            <a href="{% url 'projects:pdf_posao_mesecni' posao.id od_meseca godina %}">
                                <button type="button" class="btn btn-info">
                                    <span class="glyphicon glyphicon-pencil"></span>&nbsp; Napravi pdf izveštaj za {{ od_meseca }}.{{ godina }}
                                </button>
                            </a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr>
                    <td><strong>Ukupno:</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>{{ ukupni_prihodi }}</strong></td>
                    <td><strong>{{ ukupni_rashodi }}</strong></td>
                    <td><strong>{{ ukupna_dobit }}</strong></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
