{% extends 'projects/base.html' %}
{% block title %} - Ljudi {% endblock %}
{% block content %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load app_filters %}

<div class="container">
    <h3>Mesečni pregled za {{ mesec }}.{{ godina }}</h3>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li style="color:red;" {% if message.tags == "success" %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
    <div class="row">
        <br>
        <div class="col-sm-6">
                <p><font style="background-color: #07d3f7">plava</font> bolovanje</p>
                <p><font style="background-color: #eef707">žuta</font> dozvoljeno odsustvo</p>
                <p><font style="background-color: #f70707">crvena</font> nedozvoljeno odsustvo</p>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'projects:biranje_meseca' %}" style="float: right">
                <button type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-calendar"></span>&nbsp; Izaberi drugi mesec
                </button>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <br>
        <div class="col-sm-6">
            <p>Pritiskom na dugme "Dodaj dane" kreiraju se svi dani koje radnik nema do današnjeg datuma, <strong>ZA SVAKOG RADNIKA</strong> koji je u radnom odnosu! To može malo potrajati, sačekajte povratnu poruku!</p>
        </div>
        <div class="col-sm-6">
        <a href="{% url 'projects:dodaj_dane' mesec godina posao_id %}" style="float: right">
            <button type="button" class="btn btn-warning">
                <span class="glyphicon glyphicon-calendar"></span>&nbsp; Dodaj dane
            </button>
        </a>
        </div>
    </div>
    <div class="row">
        <a href="{% url 'projects:pdf_radnici_mesecni_izvestaj' mesec godina posao_id %}">
            <button type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp; Napravi pdf izveštaj za {{ mesec }}.{{ godina }}
            </button>
        </a>
    </div>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    {% for radnik in radnici %}
    {% if dani_radnika|get_value_from_dict:radnik.id %}
    <table class="table" id="radnik{{ radnik.id }}">
        <thead>
        <tr>
            <th>Ime</th>
            <th>Trenutno na poslu</th>
            <th>Satnica</th>
            <th>Akontacija</th>
            <th>RucnoLD</th>
            <th class="right-border">Ishrana</th>
            {% for dan in dani_radnika|get_value_from_dict:radnik.id %}

                <th {% if dan.datum.weekday == 6 %}style="color:red"{% endif %}>{{ dan.datum.day }}</th>

                {% endfor %}
            <th class="left-border">Neto LD</th>
            <th>Radnih sati</th>
            <th>Dana bolovanja</th>
            <th>Slobodnih dana</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{% url 'projects:monthview-single' mesec godina radnik.id posao_id %}">
                        <button type="button" class="btn btn-link">
                            <span class="glyphicon glyphicon-user"></span>&nbsp; {{ radnik.ime }}
                        </button>
                    </a></td>
                <td>{% if radnik.posao != None %}
                <a href="{% url 'projects:posao' radnik.posao.id %}">{{ radnik.posao }}</a>
                {% else %}
                ---------
                {% endif %}</td>
                <td>{{ radnik.satnica }} kn</td>
                <td>{% for a in akontacije %}
                    {% if a.radnik == radnik %}
                        <font color="black" {% if dan.datum.weekday == 6 %}style="color:red"{% endif %}><strong>
                        {{ a.kolicina }}
                        </strong></font>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>{% for l in licni_dohodci_za_mesec %}
                    {% if l.radnik == radnik %}
                        <font color="black" {% if dan.datum.weekday == 6 %}style="color:red"{% endif %}><strong>
                        {{ l.kolicina }}
                        </strong></font>
                    {% endif %}
                    {% endfor %}
                </td>

                <td class="right-border">{{ ishrana|get_value_from_dict:radnik.id }}</td>

                {% for dan in dani_radnika|get_value_from_dict:radnik.id %}

                {% if dan.bolovanje %}
                <td bgcolor="#07d3f7">
                {% elif dan.dozvoljeno_odsustvo %}
                <td bgcolor="#eef707">
                {% elif dan.nedozvoljeno_odsustvo %}
                <td bgcolor="#f70707">
                {% elif dan.radio_sati != 0.0 %}
                <td bgcolor="#3fff3f">
                {% else %}
                <td>
                {% endif %}
                        <font color="black" {% if dan.datum.weekday == 6 %}style="color:red"{% endif %}><strong>
                        {{ dan.radio_sati }}
                        </strong></font>
                </td>
                {% endfor %}
                <td class="left-border"><strong>{{ ukupno|get_value_from_dict:radnik.id }}kn</strong></td>
                <td><strong>{{ radnih_sati|get_value_from_dict:radnik.id }}</strong></td>
                <td><strong>{{ dana_bolovanja|get_value_from_dict:radnik.id }}</strong></td>
                <td><strong>{{ slobodnih_dana|get_value_from_dict:radnik.id }}</strong></td>
            </tr>


        </tbody>
    </table>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    {% endif %}
    {% endfor %}
    <h4>Ukupno isplaćene akontacije: {{ sve_akontacije }}</h4>
    <h3 style="float: right">Ukupno za isplatu: {{ svi }} kn</h3>
</div>


{% endblock %}

{% block jquery %}
function scrollToDiv(element){
    element = element.replace("link", "");
    $('html,body').unbind().animate({scrollTop: $(element).offset().top-70},'fast');
};
var pageURL = $(location).attr("href");
var radnik_id = pageURL.split("#")[1];
if(typeof radnik_id !== "undefined")
{
  $('#' + radnik_id).effect('highlight',{color: '#ffaa02'},15000);
  $('#' + radnik_id).parents('table').effect('highlight',{color: '#00e1ff'},5000);
  var x = $('#' + radnik_id).position();
  scrollToDiv('#' + radnik_id);
  window.scrollTo(x.left - 70, x.top);

} 

{% endblock %}
