{% extends 'projects/base.html' %}
{% block title %} - Details {% endblock %}
{% block projects_active %}active{% endblock %}
{% block content %}
<div class="container">
    {% if message %}
    <h5 style="color:red;">{{ message }}</h5>
    {% endif %}
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li style="color:red;" {% if message.tags == "success" %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

        <div class="col-sm-12 form-group">
            <br>
             <a href="{% url 'projects:posao-update' project_id %}">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp; Promeni detalje o projektu
                </button>
             </a>
            <a href="{% url 'projects:komentar-add' project_id %}">
                <button type="button" class="btn btn-light">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp; Dodaj komentar
                </button>
            </a>
        </div>


         <div class="col-sm-12">
             <a href="{% url 'projects:prihod-add' project_id %}">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus-sign"></span>&nbsp; Dodaj prihod
                </button>
             </a>
             <a href="{% url 'projects:rashod-add' project_id %}">
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-plus-sign"></span>&nbsp; Dodaj rashod
                </button>
             </a>
             {% if posao.dogovoreno_po_kvadratu != 0.0 %}
             <a href="{% url 'projects:kvadrat-add' project_id %}">
                <button type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-plus-sign"></span>&nbsp; Dodaj kvadrate
                </button>
             </a>
             {% endif %}
         </div>


     <div class="col-sm-8">
         <div class="well">
            <div class="row">
                <h1>{{ posao.ime }}</h1>
                <h3>Početak radova: {{ posao.pocetak_radova }}</h3>
                <h3>Kraj radova: {% if posao.kraj_radova != None %}{{ posao.kraj_radova }}{% else %}{% endif %}</h3>
            </div>
             {% if posao.dogovoreni_radni_sati != 0.0 %}
             <h4>Dogovoren radni sat: {{ posao.dogovoreni_radni_sati}}</h4>
             <h5>Dogovoren radni sat za radnike klase 2: {{ posao.dogovoreni_radni_sati_klasa_2}}</h5>
             <h6>Dogovoren radni sat za radnike klase 3: {{ posao.dogovoreni_radni_sati_klasa_3}}</h6>
             <h6>Dogovoren radni sat za radnike klase 4: {{ posao.dogovoreni_radni_sati_klasa_4}}</h6>
             <h6>Dogovoren radni sat za radnike klase 5: {{ posao.dogovoreni_radni_sati_klasa_5}}</h6>
             {% else %}
             <h4>Ovaj posao nije dogovoren na radni sat</h4>
             {% endif %}
             {% if posao.dogovoreno_po_kvadratu != 0.0 %}
             <h4>Dogovoreno po kvadratu: {{ posao.dogovoreno_po_kvadratu}}</h4>
             {% else %}
             <h4>Ovaj posao nije dogovoren na kvadrate</h4>
             {% endif %}
            <div class="row">
                <h3>opis: {{ posao.opis }}</h3>
                <h4>Svi do sada uneti radni sati za sve radnike koji su na projektu: {{ radni_sati_svih_radnika }}</h4>
                <h4>Svi do sada uneti dani smestaja za sve radnike koji su na projektu: {{ dana_smestaja_svih_radnika }}</h4>
            </div>
         </div>
         <div id="finansije">
             <form id="mesecne_finansije" method="GET">
                <table>
                    <tr>
                        <td>
                            <input list="mesec" placeholder="  Izaberi mesec" name="mesec">

                              <datalist id="mesec">
                                <option value="Januar">
                                <option value="Februar">
                                <option value="Mart">
                                <option value="April">
                                <option value="Maj">
                                <option value="Jun">
                                <option value="Jul">
                                <option value="Avgust">
                                <option value="Septembar">
                                <option value="Oktobar">
                                <option value="Novembar">
                                <option value="Decembar">
                              </datalist>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <input name="godina" placeholder=" Upiši godinu" type="text">
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <button name="izbor_meseca_finansije" class="btn btn-primary pull-right">Izaberi</button>
                        </td>
                   </tr>
                </table>

             </form>
             <h3>Finansije</h3>
             <div class="table-div">
                 <table class="table">
                    <thead>
                    <tr>
                        <th><font color="red">Rashodi</font></th>
                        <th>Vozilo</th>
                        <th>Datum</th>
                        <th>Količina</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rashod in rashodi %}
                    <tr class="danger">
                        <td>{{ rashod.vrsta }}</td>
                        {% if rashod.vozilo %}
                        <td>{{ rashod.vozilo }}</td>
                        {% else %}
                        <td>---</td>
                        {% endif %}
                        <td>{{ rashod.datum }}</td>
                        <td>{{ rashod.kolicina }}</td>
                        <td>
                            <a href="{% url 'projects:rashod-delete' project_id rashod.id %}">
                                <button type="button" class="btn btn-danger" onclick="clicked(event)" style="float: right">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><strong>Ukupni rashodi:</strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>{{ ukupni_rashodi }}</strong></td>
                    </tr>
                    </tbody>
                 </table>
             </div>
             <div class="table-div bottom-border">
                 <table class="table">
                    <thead>
                    <tr>
                        <th><font color="green">Prihodi</font></th>
                        <th>Datum</th>
                        <th>Količina</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for prihod in prihodi %}
                    <tr class="success">
                        <td>{{ prihod.vrsta }}</td>
                        <td>{{ prihod.datum }}</td>
                        <td>{{ prihod.kolicina }}</td>
                        <td>
                            <a href="{% url 'projects:prihod-delete' project_id prihod.id %}">
                                <button type="button" class="btn btn-danger" onclick="clicked(event)" style="float: right">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><strong>Ukupni prihodi:</strong></td>
                        <td></td>
                        <td></td>
                        <td><strong>{{ ukupni_prihodi }}</strong></td>
                    </tr>
                    </tbody>
                 </table>
             </div>
             <h4><strong>Dobit: <span style="float: right">{{ dobit }}</span></strong></h4><br>
         </div>
         <h3>Radnici na projektu</h3>
         <form role="form" action="" method="post" enctype="multipart/form-data">
             {% csrf_token %}
             <div class="table-div">
                 <table class="table">
                     <thead>
                     <tr>
                         <th>Radnik</th>
                         <th>Zanimanje</th>
                         <th>Skini sa projekta</th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for radnik in posao.radnik_set.all %}
                     <tr>
                         <td>{{ radnik.ime.upper }}</td>
                         <td>* {% for j in radnik.zanimanja.all %}{{ j }} * {% endfor %}</td>
                         <td>
                             <input type='checkbox' name='listskini' value='{{radnik.id}}' id='{{radnik.id}}' />
                             <span><label class='list' for='{{radnik.id}}'></label></span>
                         </td>
                     </tr>
                    {% endfor %}
                     <tr>
                         <td></td>
                         <td></td>
                         <td><button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Skini sa projekta</button></td>
                     </tr>
                     </tbody>
                 </table>
             </div>
         </form>
         <div class="table-div bottom-border">
             <table class="table">
                <thead>
                <tr>
                    <th>Komentari</th>
                    <th>Datum</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for komentar in posao.komentar_set.all %}
                <tr>
                    <td class="skraceni_tekst"><a href="{% url 'projects:komentar-detail' komentar.id %}">{{ komentar.komentar }}</a></td>
                    <td>{{ komentar.datum }}</td>
                    <td>{{ prihod.kolicina }}</td>
                    <td>
                        <a href="{% url 'projects:komentar-delete' project_id komentar.id %}">
                            <button type="button" class="btn btn-danger" onclick="clicked(event)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
             </table>
         </div>
     </div>
     <div class="col-sm-4 left-border">
         <h3>Dostupni radnici</h3>
         <form method="get">
             {{ filter.form.as_p }}
             <button type="submit" class="btn btn-default">Potvrdi</button>
         </form>
         <form role="form" action="" method="post" enctype="multipart/form-data">
             {% csrf_token %}
             {% if dostupni_radnici %}
             <hr>
             {% for radnik in filter.qs %}
             <li><input type='checkbox' name='listdodaj' value='{{radnik.id}}' id='{{radnik.id}}' />
                 <span><label class='list' for='{{radnik.id}}'>{{radnik.ime.upper}} - * {% for j in radnik.zanimanja.all %}{{ j }} * {% endfor %}</label></span>
             </li>
             {% endfor %}
             <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Dodaj na projekat</button>
             {% else %}
             <h3>Nema dostupnih radnika</h3>
             {% endif %}
         </form>
     </div>
</div>
<script>
function clicked(e)
{
    if(!confirm('Sigurno želite obrisati?'))e.preventDefault();
}
</script>
{% endblock %}
