{% extends 'projects/base.html' %}
{% block title %} - Vozila {% endblock %}
{% block content %}
{% load staticfiles %}
<div class="container">
    <h3>Vozila</h3>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li style="color:red;" {% if message.tags == "success" %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
    <div class="row">
        <div class="col-sm-12" style="padding-bottom: 15px;">
            <br>
            <a href="{% url 'projects:vozilo-add' %}">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-road"></span>&nbsp; Dodaj vozilo
                </button>
            </a>
        </div>
    </div>
    {% if vozila %}
    <div class="col-md-12">
        <div class='container' id="table">
            <div class="table-div">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Marka vozila</th>
                        <th>Trenutno duži</th>
                        <th>Sledeći servis</th>
                        <th>Registracija ističe</th>
                        <th>Dana do isteka registracije</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for vozilo in vozila %}
                    <tr>
                        <td>
                            <a href="{% url 'projects:vozilo-detail' vozilo.id %}">
                                <button type="button" class="btn btn-link">
                                    <span class="glyphicon glyphicon-road"></span>&nbsp; {{ vozilo.marka }}
                                </button>
                            </a>
                        </td>
                        {% if vozilo.trenutno_duzi == None %}
                        <td>Vozilo je dostupno</td>
                        {% else %}
                        <td>{{ vozilo.trenutno_duzi }}</td>
                        {% endif %}
                        <td>{{ vozilo.sledeci_servis }}</td>
                        <td>{{ vozilo.registracija_istice }}</td>
                        {% for i, v in istek_registracije.items %}
                        {% if i == vozilo.id %}
                        <td {% if v < 15 %}style="color:red"{% endif %}><strong>{{ v }}</strong></td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}




